
  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Sora', sans-serif;
}
.container{

    background-image: linear-gradient(45deg, #004040, #4A4633);
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
}
.container > input {
    max-width: 450px;
    border: none;
}
.bills{
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.bills input{
    width: 50%;
}
.calc{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    background-color: #3A40F2;
    max-width: 350px;
    color: white;
    border-radius: 7px;
}
.calc:hover{
    background-color: #1C1E73;
}
.btn-add{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    background-color: red;
    max-width: 350px;
    color: white;
    border-radius: 7px;
}
.btn-add:hover{
    
    background-color: rgb(141, 0, 0);
}
.newBill{
    display: none;
    color: white;
}
button{
    background-color: black;
    color: white;
}
